.ActivityCard {
    display: flex;
    background-color: #ededed;
    padding-top: 15px;
}

.ActivityCard-title {
    font-size: 1.3em;
    margin: 0;
}

.ActivityCard-description {
    margin: 0;
}

.ActivityCard-image {
    margin: 8px;
}

.LayoverDetailPage-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}