.App {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to left, rgb(0 0 0 / 60%), rgb(128 128 128 / 30%)), url(../images/wingtip.jpg);
  background-size: cover;
  background-position: center;
}


.App-link {
  color: #030303;
}

.App-logo-one {
  color: rgb(85, 139, 255);
  font-family: 'Fraunces', serif;
}

.App-logo-layover {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300 ;
}

h1 {
  margin: 0;
  font-size: 3em;
}

h2 {
  font-weight: 300; 
}

.fas {
  margin: 0 10px;
  color:  rgb(255 205 42);
}