.LayoversPage-search * {
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LayoversPage-search {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.LayoversPage-search i {
    font-size: 1.5em;
    color: rgb(65, 65, 65);
}

.LayoversPage-search input {
    width: 75%;
    border: none;   
    border-bottom: 1px solid rgb(58, 58, 58);
    font-size: 1.5em;
    padding-left: 10px;
    background-color: inherit;
}

.LayoversPage-search input:focus {
    outline: none;
}

.LayoversPage-search button {
    width: 17%;
    border-radius: 0;
    box-shadow: none;
}

.LayoverCard {
    margin: 15px;
    position: relative;
}

.LayoverCard p {
    margin: 0;
}

.LayoverCard img {
    width: 240px;
    height: 160px;
}

.LayoverCard-code {
    font-size: 4em;
    text-transform: uppercase;
    position:absolute;
    bottom: 15px;
    right: 8px;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width : 600px) {
    .LayoverCard img {
        width: 120px;
        height: 80px;
    }
    .LayoverCard-code {
        font-size: 2em;
        text-transform: uppercase;
        position:absolute;
        bottom: 15px;
        right: 8px;
        color: rgb(255, 255, 255);
    }
    .LayoverCard-city {
        font-size: .6em;
    }
}