.LayoversPage-layovers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.LayoversPage h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 4em;
}