.Navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
}

.Navbar-logo {
    font-size: 1.5em;
}

.Navbar-links *{
    margin-right: 10px;
    font-size: .9em;
}

.Navbar-links {
    display: flex;
    align-items: flex-end;
}