.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.App-link {
  color: #61dafb;
}

.App-one {
  color: rgb(47, 91, 187);
}

h1 {
  font-size: 3em;
}

.fas {
  margin: 0 10px;
}